body{
    background-color: rgb(240, 234, 181);
}


img{
    margin: 50px;
    width: 250px;
    border-radius: 150px;
    float: right;
    
}
p{
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    ;
}
.vertical {
    border-left: 6px solid black;
    height: 700px;
    position:absolute;
    left: 30%;
}
h1{
    text-align: center;
}
#content{
height: 250px;
width: 300px;
margin-left: 600px;
margin-bottom:600px;

}
table> tr > th{
    height: 500px;
width: 350px;
margin-left: 600px;
margin-bottom: 2;

}
.blue{
    color: blue;
}
